bin/
obj/
[Bb]uild/
[Ll]og/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
*.nuspec
packages/
*.cache
*.tmp
*.bak

*.Publish.xml
*.pubxml
*.pubxml.user

*.xlsx
*.xlsm
*.xls
*.csv